{% extends "inc/base.html" %}
{% load static %}
{% block extracontent %}
<div class="col-auto">
  <h1>New Question</h1>
</div>
{% endblock %}
{% block content %}
<div class="mb-3">
  <label for="question-title-input" class="form-label">Title:</label>
  <input type="email" class="form-control" id="question-title-input" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="question-text-input" class="form-label">Text:</label>
  <textarea class="form-control" id="question-text-input" rows="3"></textarea>
</div>
<div class="mb-3">
  <label for="question-tag-input" class="form-label">Tags:</label>
  <input type="email" class="form-control" id="question-tag-input" placeholder="example, django">
</div>
<button type="button" class="btn btn-primary me-auto" id="ask-send-button">ASK!</button>
{% endblock %}