<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>askme</title>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
  <script src="../static/js/bootstrap.min.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">AskMe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <form class="d-flex" role="search">
            <input class="form-control me-4" type="search" placeholder="Search" aria-label="Search">
          </form>
          <button type="button" class="ask-button btn btn-success me-auto">ASK!</button>
          <div class="non-authorized-block">
            <div class="container-fluid-auto ms-2 me-4">
              <div class="row">
                <div class="col align-self-center">
                  <a href="#">log in</a>
                </div>
                <div class="col align-self-center">
                  <a href="#">register</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main class="container">
    <div class="row">
    </div>
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="question">
            <div class="container">
              <div class="row">
                <div class="col-md-2">
                  <div class="row">
                    <div class="question-big-avatar">
                      <img src="../static/img/avatar-1.png" alt="avatar">
                    </div>
                  </div>
                  <div class="row">
                    <div class="counter mt-2">
                      <div class="d-flex">
                        <button type="button" class="minus-button rounded-start">-</button>
                        <button type="button" class="plus-button rounded-end me-2">+</button>
                        <div class="counter-value text-center align-self-center">15</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <h2 class="question-title">How to build a moon park?</h2>
                  </div>
                  <div class="row">
                    <div class="question-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                      in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="question-tag-list">
                      <div class="d-flex justify-content-start align-items-center flex-wrap">
                        <span class="me-2">Tags:</span>
                        <span class="question-tag badge text-bg-primary me-2">black-jack</span>
                        <span class="question-tag badge text-bg-primary me-2">bender</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="b-divider"></div>
        </div>
        <div class="row">
          <div class="answer-list">
            <div class="answer">
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <div class="row">
                      <div class="question-avatar">
                        <img src="../static/img/avatar-1.png" alt="avatar">
                      </div>
                    </div>
                    <div class="row">
                      <div class="counter mt-2">
                        <div class="d-flex">
                          <button type="button" class="minus-button rounded-start">-</button>
                          <button type="button" class="plus-button rounded-end me-2">+</button>
                          <div class="counter-value text-center align-self-center">15</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10 text-truncate">
                    <div class="row">
                      <div class="question-text">
                        Lorem ipsum dolor sit amet...
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-check ms-2 mt-2">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label">
                          Correct!
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="answer">
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <div class="row">
                      <div class="question-avatar">
                        <img src="../static/img/avatar-1.png" alt="avatar">
                      </div>
                    </div>
                    <div class="row">
                      <div class="counter mt-2">
                        <div class="d-flex">
                          <button type="button" class="minus-button rounded-start">-</button>
                          <button type="button" class="plus-button rounded-end me-2">+</button>
                          <div class="counter-value text-center align-self-center">15</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10 text-truncate">
                    <div class="row">
                      <div class="question-text">
                        Lorem ipsum dolor sit amet...
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-check ms-2 mt-2">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label">
                          Correct!
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="answer">
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <div class="row">
                      <div class="question-avatar">
                        <img src="../static/img/avatar-1.png" alt="avatar">
                      </div>
                    </div>
                    <div class="row">
                      <div class="counter mt-2">
                        <div class="d-flex">
                          <button type="button" class="minus-button rounded-start">-</button>
                          <button type="button" class="plus-button rounded-end me-2">+</button>
                          <div class="counter-value text-center align-self-center">15</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10 text-truncate">
                    <div class="row">
                      <div class="question-text">
                        Lorem ipsum dolor sit amet...
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-check ms-2 mt-2">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label">
                          Correct!
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <h1>Popular Tags</h1>
        <div class="d-flex flex-wrap">
          <div class="popular-tag me-2 fs-2">perl</div>
          <div class="popular-tag me-2 fs-2">python</div>
          <div class="popular-tag me-2 fs-2">TechnoPark</div>
          <div class="popular-tag me-2 fs-2">MySQL</div>
          <div class="popular-tag me-2 fs-2">django</div>
          <div class="popular-tag me-2 fs-2">Mail.Ru</div>
          <div class="popular-tag me-2 fs-2">Voloshin</div>
          <div class="popular-tag me-2 fs-2">Firefox</div>
        </div>
        <h1>Best Members</h1>
        <div class="d-flex flex-column">
          <a href="#" class="best-member me-2 fs-2">Mr. Freeman</a>
          <a href="#" class="best-member me-2 fs-2">Dr. House</a>
          <a href="#" class="best-member me-2 fs-2">Bender</a>
          <a href="#" class="best-member me-2 fs-2">Queen Victoria</a>
          <a href="#" class="best-member me-2 fs-2">V. Pupkin</a>
        </div>
      </div>
    </div>
    <div class="row">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </main>

  <footer class="bg-light text-center text-lg-start my-md-5">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright: Andrey Karanik
    </div>
  </footer>
</body>

</html>