{% extends "inc/base.html" %}

{% block extracontent %}
<div class="col-auto">
  <h1>Settings: Mr. Pepper</h1>
</div>
{% endblock %}
{% block content %}
<div class="mb-3">
  <label for="question-login-input" class="form-label">Login:</label>
  <input class="form-control" id="question-login-input" placeholder="vladimir">
</div>
<div class="mb-3">
  <label for="question-email-input" class="form-label">Email:</label>
  <input type="email" class="form-control" id="question-email-input" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="question-nickname-input" class="form-label">NickName:</label>
  <input class="form-control" id="question-nickname-input" placeholder="leader">
</div>
<div class="mb-3">Upload avatar:</div>
<img class="avatar mb-3" src="{% static 'img/avatar-1.png' %}" alt="avatar">
<div class="mb-3">
  <input class="form-control" type="file" id="formFile">
</div>
<button type="button" class="btn btn-primary me-auto" id="save-registration-button">ASK!</button>
{% endblock %}