{% extends "inc/base.html" %}

{% block extracontent %}
<div class="col-auto">
  <h1>Registration</h1>
</div>
{% endblock %}
{% block content %}
<div class="mb-3 text-danger">Sorry, this email address already registered!</div>
<div class="mb-3">
  <label for="login-input" class="form-label">Login:</label>
  <input class="form-control" id="login-input" placeholder="vladimir">
</div>
<div class="mb-3">
  <label for="email-input" class="form-label">Email:</label>
  <input type="email" class="form-control" id="email-input" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="nickname-input" class="form-label">Nickname:</label>
  <input class="form-control" id="nickname-input" placeholder="leader">
</div>
<div class="mb-3">
  <label for="password-input" class="form-label">Password:</label>
  <input type="password" id="password-input" class="form-control" placeholder="********">
</div>
<div class="mb-3">
  <label for="repeat-password-input" class="form-label">Repeat password:</label>
  <input type="password" id="repeat-password-input" class="form-control" placeholder="********">
</div>
<div class="mb-3">Upload Avatar:</div>
<div class="mb-3">
  <input class="form-control" type="file" id="formFile">
</div>
<button type="button" class="btn btn-primary me-auto mb-3" id="register-button">Register!</button>
{% endblock %}